<button (click)="logout()">logout</button>
<div>
  {{accountInfo.firstName}} {{accountInfo.lastName}}<br>
  Balance: {{accountInfo.balance}}
  <button (click)="showTopUpForm = true" *ngIf="!showTopUpForm">top up</button>
  <input type="number" *ngIf="showTopUpForm" [(ngModel)]="topUpAmount">
  <button *ngIf="showTopUpForm" (click)="topUp()">submit</button>
  <button *ngIf="showTopUpForm" (click)="showTopUpForm = false; topUpAmount = 0">cancel</button>
  <button (click)="showWithdrawForm = true" *ngIf="!showWithdrawForm">withdraw</button>
  <input type="number" *ngIf="showWithdrawForm" [(ngModel)]="withdrawAmount">
  <button *ngIf="showWithdrawForm" (click)="withdraw()">submit</button>
  <button *ngIf="showWithdrawForm" (click)="showWithdrawForm = false; withdrawAmount = 0">cancel</button>
</div>

<div *ngIf="investments.length > 0">
  <br>Active investments:
  <table border="1">
    <tr>
      <td>Debtor name</td>
      <td>Number of payments</td>
      <td>Percentage complete</td>
      <td>Loan amount amount</td>
      <td>Amount to receive</td>
    </tr>
    <tr *ngFor="let investment of investments">
      <td>{{investment.debtorName}}</td>
      <td>{{investment.payments}}</td>
      <td>{{investment.percentageComplete}}%</td>
      <td>{{investment.overallAmount}}</td>
      <td>{{investment.amountToReceive}}</td>
    </tr>
  </table>
</div>

<a [routerLink]="['availableLoans']">Available loans for investments</a>

