<button (click)="authService.logout()">logout</button>
<p *ngIf="ls.length > 0">Payments can be created for lns in status 'IN_PROGRESS'. For ln to get into status 'IN_PROGRESS' someone should invest in it</p>
<table *ngIf="ls.length > 0">
  <tr><td>Db name</td><td>Amount</td><td>Amount to return</td><td>Status</td><td></td></tr>
  <tr *ngFor="let ln of ls">
    <td *ngIf="editLnId != ln.id">{{ln.dbName}}</td>
    <td *ngIf="editLnId == ln.id"><input type="text" [(ngModel)]="ln.dbName"/></td>
    <td *ngIf="editLnId != ln.id">{{ln.amount}}</td>
    <td *ngIf="editLnId == ln.id"><input type="number" [(ngModel)]="ln.amount"/></td>
    <td *ngIf="editLnId != ln.id">{{ln.amountToReturn}}</td>
    <td *ngIf="editLnId == ln.id"><input type="number" [(ngModel)]="ln.amountToReturn"/></td>
    <td>{{ln.status}}</td>
    <td>
      <span *ngIf="editLnId != ln.id">
        <button (click)="toggleUpdateForm(ln.id)">edit ln</button>
        <button (click)="deleteLn(ln.id)">delete ln</button>
      </span>
      <span *ngIf="editLnId == ln.id">
        <button (click)="updateLn(ln)">update ln</button>
        <button (click)="editLnId = null">cancel</button>
      </span>
      <a [routerLink]="['/admin/ln/' + ln.id]" *ngIf="ln.status == 'IN_PROGRESS'">payments</a>
    </td>
  </tr>
</table>
<div>
  <button *ngIf="!showNewLnForm" (click)="toggleForm()">Add new ln</button>
  <div *ngIf="showNewLnForm">
    <label for="dbName">Debtor name</label>
    <input type="text" name="dbName" id="dbName" placeholder="Debtor name" [(ngModel)]="newLn.dbName"/><br>
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newLn.amount"/><br>
    <label for="amountToReturn">Amount to return</label>
    <input type="number" name="amountToReturn" id="amountToReturn" placeholder="Amount to return"
           [(ngModel)]="newLn.amountToReturn"/><br>
    <button (click)="createLn()">submit</button>
    <button (click)="showNewLnForm = false">cancel</button>
  </div>
</div>
