<div *ngFor="let ln of ls">
  <div>
    {{ln.dbName}} {{ln.amount}} : {{ln.status}} <button (click)="deleteLn(ln.id)">delete ln</button> <a href="/ln/{{ln.id}}">payments</a>
  </div>
</div>
<div>
  <button *ngIf="!showNewLoanForm()" (click)="toggleForm()">Add new</button>
  <div *ngIf="showNewLoanForm()">
    <label for="dbName">Debtor name</label>
    <input type="text" name="dbName" id="dbName" placeholder="Debtor name" [(ngModel)]="newLn.dbName"/><br>
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newLn.amount"/><br>
    <input type="submit" value="Submit" (click)="addNewLn()"/>
  </div>
</div>
