<table *ngIf="payments.length > 0" border="1">
  <tr>
    <td>Created</td>
    <td>Amount</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let payment of payments">
    <td *ngIf="editPaymentId != payment.id">{{payment.created}}</td>
    <td *ngIf="editPaymentId != payment.id">{{payment.amount}}</td>
    <td *ngIf="editPaymentId != payment.id">
      <button (click)="startEditingPayment(payment.id)">update payment</button>
      <button (click)="deletePayment(payment.id)">delete payment</button>
    </td>
    <td *ngIf="editPaymentId == payment.id">{{payment.created}}</td>
    <td *ngIf="editPaymentId == payment.id">
      <input type="number" [(ngModel)]="payment.amount">
    </td>
    <td *ngIf="editPaymentId == payment.id">
      <button (click)="updatePayment(payment)">update payment</button>
      <button (click)="ngOnInit()">cancel</button>
    </td>
  </tr>
</table>
<div>
  <button *ngIf="!showNewPaymentForm" (click)="toggleCreateForm()">Add new payment</button>
  <div *ngIf="showNewPaymentForm">
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newPayment.amount"/><br>
    <button (click)="createPayment()">submit</button>
    <button (click)="toggleCreateForm()">cancel</button>
  </div>
</div>
<a [routerLink]="['/admin']">Home</a>
