<div *ngFor="let pm of ps">
  <div *ngIf="editPmId != pm.id">
    {{pm.id}} - {{pm.amount}} - {{pm.created}}
    <button (click)="startEditingPayment(pm.id)">update pm</button>
    <button (click)="deletePayment(pm.id)">delete pm</button>
  </div>
  <div *ngIf="editPmId == pm.id">
    <input type="number" [(ngModel)]="pm.amount">
    <button (click)="updatePayment(pm)">update pm</button>
    <button (click)="editPmId = null">cancel</button>
  </div>
</div>
<div>
  <button *ngIf="!showNewPmForm" (click)="toggleCreateForm()">Add new pm</button>
  <div *ngIf="showNewPmForm">
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newPm.amount"/><br>
    <button (click)="createPm()">submit</button>
    <button (click)="toggleCreateForm()">cancel</button>
  </div>
</div>
<a [routerLink]="['/admin']">Home</a>
