<table *ngIf="ps.length > 0" border="1">
  <tr>
    <td>Created</td>
    <td>Amount</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let payment of ps">
    <td *ngIf="editPmId != payment.id">{{payment.created}}</td>
    <td *ngIf="editPmId != payment.id">{{payment.amount}}</td>
    <td *ngIf="editPmId != payment.id">
      <button (click)="startEditingPayment(payment.id)">update pm</button>
      <button (click)="deletePayment(payment.id)">delete pm</button>
    </td>
    <td *ngIf="editPmId == payment.id">{{payment.created}}</td>
    <td *ngIf="editPmId == payment.id">
      <input type="number" [(ngModel)]="payment.amount">
    </td>
    <td *ngIf="editPmId == payment.id">
      <button (click)="updatePayment(payment)">update pm</button>
      <button (click)="ngOnInit()">cancel</button>
    </td>
  </tr>
</table>
<div>
  <button *ngIf="!showNewPmForm" (click)="toggleCreateForm()">Add new pm</button>
  <div *ngIf="showNewPmForm">
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newPm.amount"/><br>
    <button (click)="createPm()">submit</button>
    <button (click)="toggleCreateForm()">cancel</button>
  </div>
</div>
<a [routerLink]="['/admin']">Home</a>
